.header {
  padding: 60px;
  text-align: left;
  background: #e13a44;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: lem;
}
.nav {
  padding: 60px;
  text-align: right;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  gap: lem;
  align-items: center; margin-left: auto;
}

body {
background-color: #4999a3;
}

img { 
  border-radius: 50%;
  width: 200px;
  height: auto;
}
