.header {
  padding: 15px;
  background: #e13a44;
  color: white;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
  border-radius: 25px;
}

.nav {
  padding: 20px;
  color: white;
  font-family: sans-serif;
  display: flex;
  gap: lem;
  text-align: right; 
  margin-left: auto;
}

.contact_links {
  text-align: center;
  gap: 1em;
  font-family: sans-serif;
}

body {
  background-color: #f5f3f2;
  font-family: sans-serif;
  color: black;
}

img { 
  border-radius: 50%;
  width: 200px;
  height: auto;
}
