.header {
  padding: 60px;
  background: #e13a44;
  color: white;
  font-family: sans-serif;
  display: flex;
  gap: lem;
}
.nav {
  padding: 60px;
  color: white;
  font-family: sans-serif;
  display: flex;
  gap: lem;
  align-items: right; 
  margin-left: auto;
}

body {
  background-color: #f5f3f2;
  font-family: sans-serif;
  color: black;
}

img { 
  border-radius: 50%;
  width: 200px;
  height: auto;
}
